body{
    background-color: black;
    color: white ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#contenedor1{
    background-color: rgb(70, 70, 70);
    width: 20%;
    height: 100%;
    float: left;
    padding: 5px;
}

.seccionUsuario{
    height: 40%;
    display: inline-block;
    margin: 15px;
    margin-bottom: 25px;
}

.seccionUsuario img{
    width: 120px;
    height: 120px;
    border-radius: 60%;
    float: left;
}

.seccionUsuario h2{
    float: right;
    margin-top: 20%;
    margin-left: 15px;
    font-size: 20px;
    align-content: center;
}

.menu{
    height: 60%;
    font-size: 25px;
    font-weight: bold;
}

.menu ul{
    margin: 5px;
}

.menu ul li{
    list-style-type: none;
    margin: 25px 10px;
}

.milibreria{
    margin-bottom: 10px;
    font-weight: lighter;
}

#contenedor2{
    background-color: rgb(70, 70, 70);
    width: 78%;
    height: 90%;
    float: right;
    padding: 10px;
    justify-content: space-around;
}

.barra_horizontal{
    width: 100%;
    height: 20%;
    display: inline-block;
    justify-content: space-around;
}

.barra_horizontal h2{
    float: left;
}

.nyl {
    float:right;
}

.nyl h3{
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
} 

.nyl img{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 5px;
}

.barraBusq{
    background-color: rgb(124, 124, 124);
    border: 1px rgb(109, 109, 109) solid;
    border-radius: 10px;
    width: 30%;
    margin-left: 25%;
    justify-content: center;
}

.barraBusq h3{
    font-size: 15px;
    font-weight: 500;
    padding-left: 30px;
    color: rgb(255, 255, 255);
}

footer{
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color:#811212;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px; 
}

#imagenCancion{
    float: left;
}

#imagenCancion img{
    width: 90px;
    height: 90px;
    margin: 3px;
}

#infoCancion{
    margin-left: 5px;
    float: right;
}

#infoCancion h2{
    font-size: 20px;
    color: black;
    margin-top: 20%;
    margin-bottom: 5%;
}

#infoCancion h3{
    font-size:15px;
    color: rgba(0, 0, 0, 0.651);
    margin-top: 0px;
}

#imagenCancion img{
    margin: 3px;
    margin-bottom: 15px;
}

#barraReproductora{
    height: 10%;
    justify-content: center;
    align-content: center;
    float: right;
}
